* {
  margin: 0;
}
.nav::-webkit-scrollbar {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  background-color: #ffffff;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.logo {
  padding-right: 10px;
}
.brand {
  display: flex;
}
.brand,
.navigate {
  display: flex;
  padding-top: 20px;
  cursor: pointer;
}
.categories:hover, .about:hover {
  color: #ffc826;
  transition: 0.1ms ease-in-out;
}
.brand-name {
  font-weight: 700;
  font-size: 20px;
  color: #5a189a;
}
.search {
  display: flex;
  width: 200px;
  height: 25px;
  padding: 0 5px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid white;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0px 0px 4px grey;
}
.search input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin-left: 5px;
  height: 100%;
  width: 100%;
}
input:focus {
  outline: none;
}
.navigate {
  font-weight: 500;
  font-size: 18px;
  color: #1d262d;
}
.navigate .categories {
  padding-right: 20px;
}
.buttons .get-started {
  background-color: #ffc826;
  color: #ffffff;
  padding: 12px 24px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 550;
  margin-right: 8px;
  border: 0px;
  box-shadow: 0px 0px 4px grey;
}
.get-started:hover {
  cursor: pointer;
  border: 2px solid white;
  transition: 0.1ms ease-in-out;
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .nav {
    padding: 20px 50px;
  }
  .logo img {
    width: 30px;
    padding-left: 10px;
  }
  .brand,
  .navigate {
    padding-top: 10px;
  }
  .brand-name {
    font-weight: 700;
    font-size: 16px;
  }
  .search {
    margin-top: 10px;
  }
  .categories,
  .about {
    font-size: 16px;
  }
  .navigate .categories {
    padding-right: 20px;
  }
  .buttons .get-started {
    padding: 12px 20px;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 600px) {
  .nav {
    padding: 20px 50px;
  }
  .logo img {
    width: 25px;
  }
  .brand,
  .navigate {
    padding-top: 10px;
  }
  .brand-name {
    font-weight: 700;
    font-size: 14px;
  }
  .search {
    display: none;
  }
  .categories,
  .about {
    font-size: 14px;
  }
  .buttons .get-started {
    padding: 8px 18px;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) and (min-width: 200px) {
  .nav {
    padding: 10px 30px;
  }
  .logo img {
    width: 25px;
  }
  .brand,
  .navigate {
    padding-top: 10px;
  }
  .brand-name {
    font-weight: 700;
    font-size: 14px;
  }
  .search {
    display: none;
  }
  .categories,
  .about {
    font-size: 14px;
  }
  .buttons .get-started {
    padding: 8px 12px;
    margin-top: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
}
