* {
  margin: 0;
}
.main::-webkit-scrollbar {
  display: none;
}
.main {
  background-color: #7b2cbf;
  color: #ffffff;
}
.main-container {
  height: 100%;
  display: flex;
  padding: 80px 50px;
}
.main-left,
.main-right {
  width: 50%;
}
.main-left h1 {
  font-size: 62px;
  font-weight: 700;
  line-height: 80px;
}
.main-right {
  display: flex;
  flex-direction: column;
}
.main-right .top-image img {
  width: 240px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
}
.main-right .bottom-image img {
  width: 240px;
  padding-right: 10px;
}
.main-left .potential {
  background-image: url(../../assets/ellipse.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 2px;
}
.main-left .join-details {
  font-size: 18px;
  font-weight: 350;
  padding-top: 20px;
}
.join-button {
  padding: 15px 120px;
  background-color: #ffc826;
  color: white;
  border: 0px;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
  .main-container {
    padding: 50px 100px;
  }
  .main-left h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 60px;
  }
  .main-right .top-image img {
    width: 300px;
    height: 300px;
    padding-left: 50px;
    padding-top: 30px;
  }
  .main-right .bottom-image,
  .image-2 {
    display: none;
  }
  .main-left .potential {
    background-position: 6px;
  }
  .main-left .join-details {
    display: none;
  }
  .join-button {
    padding: 15px 120px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 900px) and (min-width: 300px) {
  .main-container {
    padding: 30px 50px;
  }
  .main-left h1 {
    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
  }
  .main-right .top-image img {
    width: 150px;
    height: 150px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .main-right .bottom-image,
  .image-2 {
    display: none;
  }
  .main-left .potential {
    background-position: 4px;
  }
  .main-left .join-details {
    display: none;
  }
  .join-button {
    padding: 7px 50px;
    margin-top: 10px;
  }
}
