.war {
    margin-left: 35px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.badge {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    margin-left: 35px;
}

.baDiv1 {
    position: relative;
    background: white;
    width: 35%;
    margin-right: 50px;
}

.baDiv2 {
    position: relative;
    background: white;
    width: 35%;
    margin-left: 50px;
}

.dav {
    height: 20%
}